body{
    background-color: #FEF9EF;
    font-family: Helvetica;
  }

h1{
    text-align: center;
  }
  
  .workGrid{
    display: grid;
    grid-template-columns: 500px 600px;
    grid-template-rows: 350px 350px 350px;
    column-gap: 50px;
    row-gap: 20px;
    margin: 10px;
    padding-left: 40px;
    justify-content: center;
  }

  button{
    background-color: #227C9D;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    float: center;
  }
img{
    width:500px;
}
.viewAllProjects{
    background-color: #FE6D73;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    justify-content: center;


}
